// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$body-background: rgb(18, 20, 23);
$button-background: rgb(37, 45, 55);
$button-active-background: rgb(251, 116, 19);
$button-hover-background: rgb(124, 135, 152);
$main-background: rgb(30, 37, 47);
$result-background: rgb(37, 45, 55);
$star-background: rgb(37, 45, 55);
$submit-background: rgb(251, 116, 19);
$submit-hover-background: rgb(255, 255, 255);
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgb(124, 135, 152);
$word-color-3: rgb(251, 116, 19);